<div class="participant-list">
  <h4 class="list-title">Participants ({{ participants().length }})</h4>
  <ul class="list">
    @for (p of participants(); track p.id) {
      <li class="participant-item">
        <div class="participant-avatar">{{ p.user.name.charAt(0).toUpperCase() }}</div>
        <div class="participant-info">
          <span class="participant-name">{{ p.user.name }}</span>
          <span class="participant-role">{{ p.role }}</span>
        </div>
        <span class="participant-joined">{{ p.joinedAt | date: 'shortTime' }}</span>
      </li>
    }
  </ul>
</div>
